:root {
    --green: #89c53f;
    --green-transparent: rgb(137, 197, 63, 28%);
    --black: #100f14;
    --black-text: #333333;
    --gray: #9794aa;
    --gray-line: #c9c9c9;
    --white: #fff;
}
